<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='data/design.css')}}">
    <title>Artifacts</title>
</head>
<body>

    <div id="header"><h1 id="h1">Artifacts</h1></div>

    <nav id="nav">
        <div id="navhome">
        <a style="text-decoration:none" href="{{ url_for('views.home') }}">
            <img src="{{url_for('static', filename='icon/home.png')}}" alt="Home" style="width:64px;height:64px;"/>
            </a>
    </div>
        <div id="navchar">
        <a id="50" style="text-decoration:none" href="{{ url_for('views.characters') }}">
            </a>
    </div>
    <div id="navweap">
        <a style="text-decoration:none" href="{{ url_for('views.weapons') }}">
            <img src="{{url_for('static', filename='icon/weapons.png')}}" alt="Weapons" style="width:64px;height:64px;"/>
            </a>
    </div>
    <div id="navarti">
        <a style="text-decoration:none" href="">
            <img src="{{url_for('static', filename='icon/artifactsselected.png')}}" alt="Artifacts" style="width:64px;height:64px;"/>
            </a>
    </div>
    </nav>

    <script>
    if ({{ sibl }} == 1){
     const charaicon = document.getElementById("50");
     charaicon.innerHTML = '<img src="{{url_for('static', filename='icon/characters1.png')}}"alt="Characters" style="width:64px;height:64px;"/>';
    } else {
    const charaicon = document.getElementById("50");
     charaicon.innerHTML = '<img src="{{url_for('static', filename='icon/characters2.png')}}"alt="Characters" style="width:64px;height:64px;"/>';
    }
    </script>

<div id="container">

        <div>
        <a style="text-decoration:none; color:black" href="Albedo" id="chargeo">
            <img src="{{url_for('static', filename='icon/adventurer.webp')}}"
                 alt="Characters" style="width:128px;height:128px;margin:20px;"/>
            <br>
        Adventurer
        </a>
        </div>

         <div>
        <a style="text-decoration:none; color:black" href="Albedo" id="chargeo">
            <img src="{{url_for('static', filename='icon/archaic.webp')}}"
                 alt="Characters" style="width:128px;height:128px;margin:20px;"/>
            <br>
        Archaic Petra
        </a>
        </div>

     <div>
        <a style="text-decoration:none; color:black" href="Albedo" id="chargeo">
            <img src="{{url_for('static', filename='icon/berserker.webp')}}"
                 alt="Characters" style="width:128px;height:128px;margin:20px;"/>
            <br>
        Berserker
        </a>
        </div>

     <div>
        <a style="text-decoration:none; color:black" href="Albedo" id="chargeo">
            <img src="{{url_for('static', filename='icon/blizzard.webp')}}"
                 alt="Characters" style="width:128px;height:128px;margin:20px;"/>
            <br>
        Blizzard Strayer
        </a>
        </div>

     <div>
        <a style="text-decoration:none; color:black" href="Albedo" id="chargeo">
            <img src="{{url_for('static', filename='icon/bloodstained.webp')}}"
                 alt="Characters" style="width:128px;height:128px;margin:20px;"/>
            <br>
        Bloodstained Chivalry
        </a>
        </div>

     <div>
        <a style="text-decoration:none; color:black" href="Albedo" id="chargeo">
            <img src="{{url_for('static', filename='icon/brave.webp')}}"
                 alt="Characters" style="width:128px;height:128px;margin:20px;"/>
            <br>
        Brave Heart
        </a>
        </div>

     <div>
        <a style="text-decoration:none; color:black" href="Albedo" id="chargeo">
            <img src="{{url_for('static', filename='icon/crimson.webp')}}"
                 alt="Characters" style="width:128px;height:128px;margin:20px;"/>
            <br>
        Crimson Witch of Flames
        </a>
        </div>

     <div>
        <a style="text-decoration:none; color:black" href="Albedo" id="chargeo">
            <img src="{{url_for('static', filename='icon/defenders.webp')}}"
                 alt="Characters" style="width:128px;height:128px;margin:20px;"/>
            <br>
        Defender's Will
        </a>
        </div>

     <div>
        <a style="text-decoration:none; color:black" href="Albedo" id="chargeo">
            <img src="{{url_for('static', filename='icon/primogem.webp')}}"
                 alt="Characters" style="width:128px;height:128px;margin:20px;"/>
            <br>
        Echoes of an Offering
        </a>
        </div>

     <div>
        <a style="text-decoration:none; color:black" href="Albedo" id="chargeo">
            <img src="{{url_for('static', filename='icon/primogem.webp')}}"
                 alt="Characters" style="width:128px;height:128px;margin:20px;"/>
            <br>
        Emblem of Severed Fate
        </a>
        </div>

     <div>
        <a style="text-decoration:none; color:black" href="Albedo" id="chargeo">
            <img src="{{url_for('static', filename='icon/primogem.webp')}}"
                 alt="Characters" style="width:128px;height:128px;margin:20px;"/>
            <br>
        Gambler
        </a>
        </div>

     <div>
        <a style="text-decoration:none; color:black" href="Albedo" id="chargeo">
            <img src="{{url_for('static', filename='icon/primogem.webp')}}"
                 alt="Characters" style="width:128px;height:128px;margin:20px;"/>
            <br>
        Gladiator's Finale
        </a>
        </div>

     <div>
        <a style="text-decoration:none; color:black" href="Albedo" id="chargeo">
            <img src="{{url_for('static', filename='icon/primogem.webp')}}"
                 alt="Characters" style="width:128px;height:128px;margin:20px;"/>
            <br>
        Adventurer
        </a>
        </div>

     <div>
        <a style="text-decoration:none; color:black" href="Albedo" id="chargeo">
            <img src="{{url_for('static', filename='icon/primogem.webp')}}"
                 alt="Characters" style="width:128px;height:128px;margin:20px;"/>
            <br>
        Adventurer
        </a>
        </div>

     <div>
        <a style="text-decoration:none; color:black" href="Albedo" id="chargeo">
            <img src="{{url_for('static', filename='icon/primogem.webp')}}"
                 alt="Characters" style="width:128px;height:128px;margin:20px;"/>
            <br>
        Adventurer
        </a>
        </div>

     <div>
        <a style="text-decoration:none; color:black" href="Albedo" id="chargeo">
            <img src="{{url_for('static', filename='icon/primogem.webp')}}"
                 alt="Characters" style="width:128px;height:128px;margin:20px;"/>
            <br>
        Adventurer
        </a>
        </div>

     <div>
        <a style="text-decoration:none; color:black" href="Albedo" id="chargeo">
            <img src="{{url_for('static', filename='icon/primogem.webp')}}"
                 alt="Characters" style="width:128px;height:128px;margin:20px;"/>
            <br>
        Adventurer
        </a>
        </div>

     <div>
        <a style="text-decoration:none; color:black" href="Albedo" id="chargeo">
            <img src="{{url_for('static', filename='icon/primogem.webp')}}"
                 alt="Characters" style="width:128px;height:128px;margin:20px;"/>
            <br>
        Adventurer
        </a>
        </div>

     <div>
        <a style="text-decoration:none; color:black" href="Albedo" id="chargeo">
            <img src="{{url_for('static', filename='icon/primogem.webp')}}"
                 alt="Characters" style="width:128px;height:128px;margin:20px;"/>
            <br>
        Adventurer
        </a>
        </div>


</body>
</html>