<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='data/design.css')}}">
    <title>Weapons</title>
</head>
<body>

    <div id="header"><h1 id="h1">Weapons</h1></div>

    <nav id="nav">
        <div id="navhome">
        <a style="text-decoration:none" href="{{ url_for('views.home') }}">
            <img src="{{url_for('static', filename='icon/home.png')}}" alt="Home" style="width:64px;height:64px;"/>
            </a>
    </div>
        <div id="navchar">
        <a id="50" style="text-decoration:none" href="{{ url_for('views.characters') }}">
            </a>
    </div>
    <div id="navweap">
        <a style="text-decoration:none" href="">
            <img src="{{url_for('static', filename='icon/weaponsselected.png')}}" alt="Weapons" style="width:64px;height:64px;"/>
            </a>
    </div>
    <div id="navarti">
        <a style="text-decoration:none" href="{{ url_for('views.artifacts') }}">
            <img src="{{url_for('static', filename='icon/artifacts.png')}}" alt="Artifacts" style="width:64px;height:64px;"/>
            </a>
    </div>
    </nav>

    <script>
    if ({{ sibl }} == 1){
     const charaicon = document.getElementById("50");
     charaicon.innerHTML = '<img src="{{url_for('static', filename='icon/characters1.png')}}"alt="Characters" style="width:64px;height:64px;"/>';
    } else {
    const charaicon = document.getElementById("50");
     charaicon.innerHTML = '<img src="{{url_for('static', filename='icon/characters2.png')}}"alt="Characters" style="width:64px;height:64px;"/>';
    }
    </script>

<div id="container">

        <div>
        <a style="text-decoration:none; color:black" href="Albedo" id="chargeo">
            <img src="{{url_for('static', filename='icon/hunter.webp')}}"
                 alt="Characters" style="width:128px;height:128px;margin:20px;"/>
            <br>
        Hunter's Bow
        </a>
        </div>

         <div>
        <a style="text-decoration:none; color:black" href="Albedo" id="chargeo">
            <img src="{{url_for('static', filename='icon/beginner.webp')}}"
                 alt="Characters" style="width:128px;height:128px;margin:20px;"/>
            <br>
        Beginner's Protector
        </a>
        </div>

     <div>
        <a style="text-decoration:none; color:black" href="Albedo" id="chargeo">
            <img src="{{url_for('static', filename='icon/dull.webp')}}"
                 alt="Characters" style="width:128px;height:128px;margin:20px;"/>
            <br>
        Dull Blade
        </a>
        </div>

     <div>
        <a style="text-decoration:none; color:black" href="Albedo" id="chargeo">
            <img src="{{url_for('static', filename='icon/waster.webp')}}"
                 alt="Characters" style="width:128px;height:128px;margin:20px;"/>
            <br>
        Waster Greatsword
        </a>
        </div>

     <div>
        <a style="text-decoration:none; color:black" href="Albedo" id="chargeo">
            <img src="{{url_for('static', filename='icon/apprentice.webp')}}"
                 alt="Characters" style="width:128px;height:128px;margin:20px;"/>
            <br>
        Apprentice's Notes
        </a>
        </div>

     <div>
        <a style="text-decoration:none; color:black" href="Albedo" id="chargeo">
            <img src="{{url_for('static', filename='icon/ironpoint.webp')}}"
                 alt="Characters" style="width:128px;height:128px;margin:20px;"/>
            <br>
        Iron Point
        </a>
        </div>

     <div>
        <a style="text-decoration:none; color:black" href="Albedo" id="chargeo">
            <img src="{{url_for('static', filename='icon/seasoned.webp')}}"
                 alt="Characters" style="width:128px;height:128px;margin:20px;"/>
            <br>
        Seasoned Hunter's Bow
        </a>
        </div>

     <div>
        <a style="text-decoration:none; color:black" href="Albedo" id="chargeo">
            <img src="{{url_for('static', filename='icon/silversword.webp')}}"
                 alt="Characters" style="width:128px;height:128px;margin:20px;"/>
            <br>
        Silver Sword
        </a>
        </div>

     <div>
        <a style="text-decoration:none; color:black" href="Albedo" id="chargeo">
            <img src="{{url_for('static', filename='icon/primogem.webp')}}"
                 alt="Characters" style="width:128px;height:128px;margin:20px;"/>
            <br>
        Emblem of Severed Fate
        </a>
        </div>

     <div>
        <a style="text-decoration:none; color:black" href="Albedo" id="chargeo">
            <img src="{{url_for('static', filename='icon/primogem.webp')}}"
                 alt="Characters" style="width:128px;height:128px;margin:20px;"/>
            <br>
        Emblem of Severed Fate
        </a>
        </div>

     <div>
        <a style="text-decoration:none; color:black" href="Albedo" id="chargeo">
            <img src="{{url_for('static', filename='icon/primogem.webp')}}"
                 alt="Characters" style="width:128px;height:128px;margin:20px;"/>
            <br>
        Gambler
        </a>
        </div>

     <div>
        <a style="text-decoration:none; color:black" href="Albedo" id="chargeo">
            <img src="{{url_for('static', filename='icon/primogem.webp')}}"
                 alt="Characters" style="width:128px;height:128px;margin:20px;"/>
            <br>
        Gladiator's Finale
        </a>
        </div>

     <div>
        <a style="text-decoration:none; color:black" href="Albedo" id="chargeo">
            <img src="{{url_for('static', filename='icon/primogem.webp')}}"
                 alt="Characters" style="width:128px;height:128px;margin:20px;"/>
            <br>
        Adventurer
        </a>
        </div>

     <div>
        <a style="text-decoration:none; color:black" href="Albedo" id="chargeo">
            <img src="{{url_for('static', filename='icon/primogem.webp')}}"
                 alt="Characters" style="width:128px;height:128px;margin:20px;"/>
            <br>
        Adventurer
        </a>
        </div>

     <div>
        <a style="text-decoration:none; color:black" href="Albedo" id="chargeo">
            <img src="{{url_for('static', filename='icon/primogem.webp')}}"
                 alt="Characters" style="width:128px;height:128px;margin:20px;"/>
            <br>
        Adventurer
        </a>
        </div>

     <div>
        <a style="text-decoration:none; color:black" href="Albedo" id="chargeo">
            <img src="{{url_for('static', filename='icon/primogem.webp')}}"
                 alt="Characters" style="width:128px;height:128px;margin:20px;"/>
            <br>
        Adventurer
        </a>
        </div>

     <div>
        <a style="text-decoration:none; color:black" href="Albedo" id="chargeo">
            <img src="{{url_for('static', filename='icon/primogem.webp')}}"
                 alt="Characters" style="width:128px;height:128px;margin:20px;"/>
            <br>
        Adventurer
        </a>
        </div>

     <div>
        <a style="text-decoration:none; color:black" href="Albedo" id="chargeo">
            <img src="{{url_for('static', filename='icon/primogem.webp')}}"
                 alt="Characters" style="width:128px;height:128px;margin:20px;"/>
            <br>
        Adventurer
        </a>
        </div>

     <div>
        <a style="text-decoration:none; color:black" href="Albedo" id="chargeo">
            <img src="{{url_for('static', filename='icon/primogem.webp')}}"
                 alt="Characters" style="width:128px;height:128px;margin:20px;"/>
            <br>
        Adventurer
        </a>
        </div>

</body>
</html>